body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: violet;
    padding: 20px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    background: #e2e2e2;
    padding: 50px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    flex: 1;
}

.hero-image img {
    max-width: 80%;
    height: auto;
}

section {
    padding: 300px 0;
    background: #e2e2e2;

}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
